@media (max-width: 768px) {
  /* ---------------- RESET ---------------- */
  * {
    margin: 0;
    padding: 0;
  }

  .artigos:nth-child(even) {
    flex-direction: column;
  }

  .menu {
    margin-right: 0;
  }


  /* ---------------- NAV ---------------- */
  #navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #navigation span {
    visibility: visible;
    font-size: 2rem;
    font-weight: bold;
    color: var(--pri);
    position: relative;
    cursor: pointer;
    padding: 1rem 2rem;
  }
  
  #navigation .menu {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-right: 0;
    font-size: 1.5em;
    position: absolute;
    background-color: var(--sec);
    top: 100%;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    padding-block: 1rem;

    transform: rotateX(-90deg);
    transition: .5s ease;
    transform-origin: top center;
  }
 
  #navigation .menu li {
    padding-block: 1.5rem;
  }

  /*---------------- ao clicar ----------------*/
  #navigation .clicked {
    transform: rotateX(0deg);
    transition: .5s ease;
  }
  
  

  /* ---------------- HEADER ---------------- */
  #header {
    padding-block: 15rem;
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'A'
    'B'
    'C'
  }

  .titles {
    grid-area: A;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    grid-area: B;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
  }

  .portfolioButton {
    grid-area: C;
  }

  /* ---------------- ABOUT ---------------- */
  section#about {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  section#about .intro {
    width: 90%;
    padding-inline: 0;
  }

  /* ---------------- MAIN ---------------- */
  main {
    padding-inline: 2rem;
    padding-block: 6rem;
  }

  main .artigos {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  /* ---------------- CONTATO ---------------- */

  section#contact {
    padding-block: 10rem;
    padding-inline: 2rem;
  }

  #contact h1 {
    text-align: center;
    line-height: 2.5rem;
  }

}